/* =================================================================================================
Card
================================================================================================= */

.bf-content-card {
  @include mat-elevation(2);

  &.bf-content-overflow {
    max-height: 100%;

    .card-body {
      overflow-x: auto;
    }
  }

  .card-header {
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
  }
  .card-body {
    padding: 35px 40px;
  }
}
