/* =================================================================================================
Dialog
================================================================================================= */

.mat-dialog-container {
  border-radius: $border-radius !important;
  background-color: $light;

  .mat-toolbar {
    margin: -24px -24px 0 -24px;
    padding-right: 24px;
    padding-left: 24px;
    width: calc(100% + 48px);
    border-bottom: 1px solid $gray-300;
    background-color: $gray-200;

    @each $color, $value in $theme-colors {
      &.mat-#{$color} {
        background-color: $value;
        color: $white;
      }
    }
  }

  .mat-dialog-content {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .mat-dialog-actions {
    margin-top: 0;
    margin-right: -24px;
    margin-left: -24px;
    padding-right: 24px;
    padding-left: 24px;
    width: calc(100% + 48px);
    border-top: 1px solid $gray-200;
    background-color: $white;
  }
}
