/* =================================================================================================
Icon
================================================================================================= */

.mat-icon {
  &.bf-icon-sm {
    width: 18px;
    height: 18px;
    font-size: 18px;
  }
  &.bf-icon-lg {
    width: 40px;
    height: 40px;
    font-size: 40px;
  }
}
