/* =================================================================================================
Navbar
================================================================================================= */

.navbar-brand {
  font-family: $headings-font-family;
}
.bf-dialog-navbar {
  margin: -24px -24px 0 -24px;
  padding-left: 1.5rem;
}
