<form class="d-flex flex-column" [formGroup]="form" role="Tag Form">

  <div class="form-group">
    <label for="name">Tag name</label>
    <input
      id="name"
      type="text"
      class="form-control"
      formControlName="name" />
  </div>

  <div class="form-group">
    <bf-color-picker formControlName="color"></bf-color-picker>
  </div>

  <div class="d-flex flex-row align-items-center">

    <button
      type="button"
      class="pb-0 btn btn-medium-2"
      (click)="cancel()"
      [hidden]="form.pristine">
      <mat-icon>cancel</mat-icon>
    </button>

    <button
      type="button"
      class="pb-0 btn btn-primary ml-auto"
      (click)="save()"
      [disabled]="form.pristine || form.invalid || isSaving">
      <mat-icon>check</mat-icon>
    </button>

  </div>

</form>
