/* =================================================================================================
Spinner
================================================================================================= */

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
}
